<span class="mr-1">
  label:(<span class="text-red-500"><%= link_to label.name.downcase.gsub(' ', '_'), root_path, class: 'border-b-2 py-1 border-double border-transparent hover:border-red-600 hover:text-red-600' %></span>)
</span>
